<% layout('layout/boilerplate.ejs') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/Campground" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-lable" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        looks good
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        looks good
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="image">Image</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" required>
                    <div class="valid-feedback">
                        looks good
                    </div>
                </div>
                <div class="mg-3">
                    <label class="form-lable" for="price">Campground price</label>
                    <div class="input-group mb-3">

                        <span class="input-group-text" id="price-lable">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-lable" name="campground[price]" required>
                    </div>
                    <div class="valid-feedback">
                        looks good
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="description">Description</label>
                    <textarea class="form-control" type="description" id="image" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        looks good
                    </div>
                </div>
                <div class="mb-3"><button class="btn btn-success">BUTTON</button></div>

            </form>
            <a href="/Campground">Back_home</a>
        </div>
    </div>